* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.clearfix {
	*zoom:1;
}
a {
	text-decoration: none;
}
img {
	border: 0;
	vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
i, em {
	font-style: normal;
}
@keyframes dong {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg)
    }
}
body {
    .bo {
        position: relative;
        // overflow: hidden;
        a {   
            video {
                width: 1920px;
                position: relative;
                left: 50%;
                margin-left: -960px;
            }
            .logo {
                position: absolute;
                left: 148px;
                width: 480px;
                top: 123px;
                z-index: 999;
                transition: all .3s;
                animation: dong 2s;
            }
        }
        .box {
                position: absolute;
                width: 1920px;
                top: 38%;
                left: 50%;
                margin-left: -960px;
                height: 312px;
                background: url(../images/2.png) no-repeat;
                z-index: 999;
                text-indent: -999em;
                .shou {
                    position: absolute;
                    width: 200px;
                    height: 189px;
                    left: 50%;
                    transform: translateX(-61%);
                    top: -22px;
                    background: url(../images/3.png) no-repeat;
                }
                .one {
                    position: absolute;
                    display: block;
                    width: 88px;
                    left: 742px;
                    top: 135px;
                    height: 29px;
                    background: url(../images/4.png) no-repeat -24px -51px;
                }
                .two {
                    position: absolute;
                    display: block;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 99px;
                    height: 21px;
                    top: 169px;
                    background: url(../images/4.png) no-repeat -174px -68px;
                }
                .tre {
                    position: absolute;
                    display: block;
                    width: 88px;
                    height: 29px;
                    left: 56%;
                    top: 139px;
                    background: url(../images/4.png) no-repeat -344px -58px;
                }
                .two:hover {
                    opacity: 0.7;
                }
            }  
        .bei {
            position: absolute;
            width: 1920px;
            height: 386px;
            bottom: -26px;
            left: 50%;
            margin-left: -960px;
            background: url(../images/5.jpg) no-repeat;
            ul {
                width: 1920px;
                position: absolute;
                left: 50%;
                // top: 100px;
                bottom: 60px;
                z-index: 999;
                transform: translateX(-26%);
                li {
                    // margin-left: 10px;
                    float: left;
                }
                li:nth-child(2)  {
                    margin-left: 1px;
                    margin-right: 1px;
                }
            }
            .im {
                // vertical-align: bottom;
                // position: absolute;
                left: 15px;
                top: 17px;
                width: 300px;
                position: relative;
                

            }
            .h {
                display: block;
                position: relative;
                height: 83px;
                width: 319px;
                line-height: 95px;
                text-align: center;
                color: #ffffff;
                font-size: 18px;
                background: url(../images/6.png) no-repeat;
            }
            .h:hover {
                // opacity: 0.7;
                color: #ccc;
            }
        } 
        .foot {
            font-size: 14px;
            top: -236px;
            position: relative;
    
            span {
                display: block;
                height: 471px;
                width: 1920px;
                position: absolute;
                left: 50%;
                top: 261px;
                // bottom: 0;
                transform: translateX(-960px);
                background: url(../images/10.jpg) no-repeat;
    
                .footer {
                    width: 1100px;
                    margin: 0 auto;
                    .ce {
                        display: none;
                        width: 776px;
                        height: 106px;
                        background: #1f1009;
                        margin-top: 0 !important;
                        color: #b5a89f;
                        position: absolute;
                        right: 409px;
                        padding-left:20px; 
                        padding-top: 13px;
                        dl {
                            float: left;
                            width: 110px;
                            dt,dd {
                                height: 23px;
                                cursor: pointer;
                            }
                        }
                    }
                    div:nth-child(1) {
                        margin-top: 42px;
    
                        a:nth-child(1) {
                            color: #fff;
                            margin-right: 39px;
    
                            i {
                                display: inline-block;
                                width: 18px;
                                color: gold;
                                height: 19px;
                                vertical-align: middle;
                                margin-right: 10px;
                                background: url(../images/11.png) -99px -3px;
                            }
                        }
    
                        a:nth-child(2) {
                            color: #fff;
                            margin-right: 39px;
    
                            i {
                                display: inline-block;
                                width: 19px;
                                color: gold;
                                height: 20px;
                                margin-right: 10px;
                                vertical-align: middle;
                                background: url(../images/11.png) -148px -27px;
                            }
                        }
    
                        a:nth-child(3) {
                            color: #fff;
                            i {
                                display: inline-block;
                                width: 19px;
                                color: gold;
                                height: 19px;
                                margin-right: 10px;
                                vertical-align: middle;
                                background: url(../images/11.png) -27px -123px;
                            }
                        }
    
                    }
    
                    div:nth-child(2) {
                        float: right;
                        margin-top: 42px;
    
                        em {
                            color: #fff;
                        }
    
                        a:nth-child(2) {
                            display: inline-block;
                            width: 97px;
                            height: 20px;
                            vertical-align: middle;
                            margin-right: 10px;
                            background: url(../images/12.png) no-repeat -141px -53px;
                        }
    
                        i:nth-child(3) {
                            display: inline-block;
                            width: 16px;
                            height: 17px;
                            cursor: pointer;
                            vertical-align: middle;
                            background: url(../images/13.png) no-repeat;
                        }
    
                        i:last-child {
                            display: inline-block;
                            width: 15px;
                            height: 16px;
                            vertical-align: middle;
                            cursor: pointer;
                            background: url(../images/14.png) no-repeat;
    
                        }
    
                    }
    
                    .foo {
                        float: left !important;
    
                        a:nth-child(1) {
                            float: left;
                            div {
                                width: 139px;
                                height: 88px;
                                margin-top: 89px;
                                background: url(../images/15.png) no-repeat;
                            }
                        }
    
                        .a2 {
                            width: 125px;
                            height: 38px;
                            float: left;
                            margin-top: 117px;
                            margin-right: 102px;
                            background: url(../images/16.png) no-repeat;
                        }
                        .r {
                            float: left;
                            // height: 88px;
                            padding-top: 31px;
                            i {
                                display: block;
                                color: #cccccc;
                                margin-top: 38px;
                                height: 32px;
                            }
                            p {
                                height: 21px;
                                font-size: 12px;
                                color: #55240a;
                                a {
                                color: #55240a;
                                }
                                a:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                   
                }
                .tu {
                    // float: left;
                    position: relative;
                    top: 180px;
                    height: 48px;
                    right: 614px;
                    img {
                        vertical-align: bottom
                    }
                    i {
                        color: #55240a;
                        font-size: 12px;
                        a {
                            color: #55240a;
                        }
                        a:hover {
                            color: #fff;
                        }
                    }
                }
                .p {
                    position: absolute;
                    color: #55240a;
                    left: 485px;
                    bottom: 98px;
                }
            }
    
    
        }
    
    }
    
    
    
}