* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
i,
em {
  font-style: normal;
}
@keyframes dong {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
body .bo {
  position: relative;
}
body .bo a video {
  width: 1920px;
  position: relative;
  left: 50%;
  margin-left: -960px;
}
body .bo a .logo {
  position: absolute;
  left: 148px;
  width: 480px;
  top: 123px;
  z-index: 999;
  transition: all .3s;
  animation: dong 2s;
}
body .bo .box {
  position: absolute;
  width: 1920px;
  top: 38%;
  left: 50%;
  margin-left: -960px;
  height: 312px;
  background: url(../images/2.png) no-repeat;
  z-index: 999;
  text-indent: -999em;
}
body .bo .box .one {
  position: absolute;
  display: block;
  width: 88px;
  left: 742px;
  top: 135px;
  height: 29px;
  background: url(../images/4.png) no-repeat -24px -51px;
}
body .bo .box .two {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: 99px;
  height: 21px;
  top: 169px;
  background: url(../images/4.png) no-repeat -174px -68px;
}
body .bo .box .tre {
  position: absolute;
  display: block;
  width: 88px;
  height: 29px;
  left: 56%;
  top: 139px;
  background: url(../images/4.png) no-repeat -344px -58px;
}
body .bo .box .two:hover {
  opacity: 0.7;
}
body .bo .bei {
  position: absolute;
  width: 1920px;
  height: 386px;
  bottom: -26px;
  left: 50%;
  margin-left: -960px;
  background: url(../images/5.jpg) no-repeat;
}
body .bo .bei ul {
  width: 1920px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  z-index: 999;
  transform: translateX(-26%);
}
body .bo .bei ul li {
  float: left;
}
body .bo .bei ul li:nth-child(2) {
  margin-left: 1px;
  margin-right: 1px;
}
body .bo .bei .im {
  left: 15px;
  top: 17px;
  width: 300px;
  position: relative;
}
body .bo .bei .h {
  display: block;
  position: relative;
  height: 83px;
  width: 319px;
  line-height: 95px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  background: url(../images/6.png) no-repeat;
}
body .bo .bei .h:hover {
  color: #ccc;
}
body .bo .foot {
  font-size: 14px;
  top: -236px;
  position: relative;
}
body .bo .foot span {
  display: block;
  height: 471px;
  width: 1920px;
  position: absolute;
  left: 50%;
  top: 261px;
  transform: translateX(-960px);
  background: url(../images/10.jpg) no-repeat;
}
body .bo .foot span .footer {
  width: 1100px;
  margin: 0 auto;
}
body .bo .foot span .footer .ce {
  display: none;
  width: 776px;
  height: 106px;
  background: #1f1009;
  margin-top: 0 !important;
  color: #b5a89f;
  position: absolute;
  right: 409px;
  padding-left: 20px;
  padding-top: 13px;
}
body .bo .foot span .footer .ce dl {
  float: left;
  width: 110px;
}
body .bo .foot span .footer .ce dl dt,
body .bo .foot span .footer .ce dl dd {
  height: 23px;
  cursor: pointer;
}
body .bo .foot span .footer div:nth-child(1) {
  margin-top: 42px;
}
body .bo .foot span .footer div:nth-child(1) a:nth-child(1) {
  color: #fff;
  margin-right: 39px;
}
body .bo .foot span .footer div:nth-child(1) a:nth-child(1) i {
  display: inline-block;
  width: 18px;
  color: gold;
  height: 19px;
  vertical-align: middle;
  margin-right: 10px;
  background: url(../images/11.png) -99px -3px;
}
body .bo .foot span .footer div:nth-child(1) a:nth-child(2) {
  color: #fff;
  margin-right: 39px;
}
body .bo .foot span .footer div:nth-child(1) a:nth-child(2) i {
  display: inline-block;
  width: 19px;
  color: gold;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../images/11.png) -148px -27px;
}
body .bo .foot span .footer div:nth-child(1) a:nth-child(3) {
  color: #fff;
}
body .bo .foot span .footer div:nth-child(1) a:nth-child(3) i {
  display: inline-block;
  width: 19px;
  color: gold;
  height: 19px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../images/11.png) -27px -123px;
}
body .bo .foot span .footer div:nth-child(2) {
  float: right;
  margin-top: 42px;
}
body .bo .foot span .footer div:nth-child(2) em {
  color: #fff;
}
body .bo .foot span .footer div:nth-child(2) a:nth-child(2) {
  display: inline-block;
  width: 97px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  background: url(../images/12.png) no-repeat -141px -53px;
}
body .bo .foot span .footer div:nth-child(2) i:nth-child(3) {
  display: inline-block;
  width: 16px;
  height: 17px;
  cursor: pointer;
  vertical-align: middle;
  background: url(../images/13.png) no-repeat;
}
body .bo .foot span .footer div:nth-child(2) i:last-child {
  display: inline-block;
  width: 15px;
  height: 16px;
  vertical-align: middle;
  cursor: pointer;
  background: url(../images/14.png) no-repeat;
}
body .bo .foot span .footer .foo {
  float: left !important;
}
body .bo .foot span .footer .foo a:nth-child(1) {
  float: left;
}
body .bo .foot span .footer .foo a:nth-child(1) div {
  width: 139px;
  height: 88px;
  margin-top: 89px;
  background: url(../images/15.png) no-repeat;
}
body .bo .foot span .footer .foo .a2 {
  width: 125px;
  height: 38px;
  float: left;
  margin-top: 117px;
  margin-right: 102px;
  background: url(../images/16.png) no-repeat;
}
body .bo .foot span .footer .foo .r {
  float: left;
  padding-top: 31px;
}
body .bo .foot span .footer .foo .r i {
  display: block;
  color: #cccccc;
  margin-top: 38px;
  height: 32px;
}
body .bo .foot span .footer .foo .r p {
  height: 21px;
  font-size: 12px;
  color: #55240a;
}
body .bo .foot span .footer .foo .r p a {
  color: #55240a;
}
body .bo .foot span .footer .foo .r p a:hover {
  color: #fff;
}
body .bo .foot span .tu {
  position: relative;
  top: 180px;
  height: 48px;
  right: 614px;
}
body .bo .foot span .tu img {
  vertical-align: bottom;
}
body .bo .foot span .tu i {
  color: #55240a;
  font-size: 12px;
}
body .bo .foot span .tu i a {
  color: #55240a;
}
body .bo .foot span .tu i a:hover {
  color: #fff;
}
body .bo .foot span .p {
  position: absolute;
  color: #55240a;
  left: 485px;
  bottom: 98px;
}
